<div da-loading-mask="{{ $ctrl.loading }}" style="height: 100%;" class="product-table-container">
  <div class="product-table-container-header" style="height: 60px; background-color: #f7f7f7; border-bottom: 1px solid #e3e3e3;">
    <h2 style="text-align: center; padding-top: 8px; margin-top: 0;">What Are We Selling?</h2>
  </div>
  <filter-checkbox ng-hide="$ctrl.loading" on-update="$ctrl.onCheckboxUpdate(hideOutOfStock)"></filter-checkbox>
  <search-bar ng-hide="$ctrl.loading" on-text-change="$ctrl.onSearchTextUpdate(newSearchText)"></search-bar>
  <product-table products="$ctrl.filteredProducts" ng-hide="$ctrl.loading"></product-table>
  </div>
</div>
