<div da-loading-mask="{{ $ctrl.loading }}" class="transactions-info" style="height: 100%;">
  <div style="height: 59px; background-color: #f7f7f7; border-bottom: 1px solid #e3e3e3;">
    <h2 style="text-align: center; padding-top: 8px; margin-top: 0;">How Much Are We Selling?</h2>
  </div>
  <div style="display: flex; height: 730px;">
    <line-chart id="vis" style="flex: 1; padding: 20px 20px 0 20px;" chart-data="$ctrl.lineChartData" d3-id="'#vis'">
    </line-chart>
    <div style="flex: 1; width: 317.5px; padding-top: 70px;">
      <p class="padding-horizontal-large">
        <strong class="padding-right-medium">Show data for each </strong>
        <div db-dropdown items="$ctrl.granularityDropdownItems" on-item-selected="$ctrl.granularityDropdownSelect(item)" label-attribute="name">
          <db-dropdown-button>{{ $ctrl.granularityDropdownSelectedItem.name }}</db-dropdown-button>
          <db-dropdown-basic-list></db-dropdown-basic-list>
        </div>
      </p>
      <p class="padding-horizontal-large">
        <strong class="padding-right-medium">Show data for last </strong>
        <div db-dropdown items="$ctrl.dateRangeDropdownItems" on-item-selected="$ctrl.dateRangeDropdownSelect(item)" label-attribute="name">
          <db-dropdown-button>{{ $ctrl.dateRangeDropdownSelectedItem.name }}</db-dropdown-button>
          <db-dropdown-basic-list></db-dropdown-basic-list>
        </div>
      </p>
      <div ng-hide="$ctrl.dateRangeDropdownSelectedItem.value !== 'custom'">
        <db-datepicker ng-model="$ctrl.customStartDate" ng-change="$ctrl.onStartDatepickerChange()" min-date="$ctrl.earliestTransaction" max-date="$ctrl.latestTransaction"></db-datepicker>
        <db-datepicker ng-model="$ctrl.customEndDate" ng-change="$ctrl.onEndDatepickerChange()" min-date="$ctrl.earliestTransaction" max-date="$ctrl.latestTransaction"></db-datepicker>
      </div>
      <pillbox-container total-income="$ctrl.totalIncome" products-sold="$ctrl.productsSold" transaction-count="$ctrl.transactionCount" income-chart-data="$ctrl.incomeLineChartData" products-chart-data="$ctrl.productsSoldLineChartData" transaction-chart-data="$ctrl.transactionCountLineChartData" on-pill-click="$ctrl.displayLineChart(pill)"></pillbox-container>
    </div>
  </div>
</div>
