<div flex="70" flex-offset="15" layout="row" class="toolbar-selects">
  <div flex="45" layout="row">
    <md-input-container flex>
      <label>Show data for each </label>
      <md-select md-on-close="$ctrl.granularityDropdownSelect()" ng-model="$ctrl.granularityDropdownSelectedItem">
        <md-option ng-repeat="dateGrain in $ctrl.granularityDropdownItems" ng-value="dateGrain">{{ dateGrain | capitalize }}</md-option>
      </md-select>
    </md-input-container>
  </div>
  <div flex="45" flex-offset="10" layout="row">
    <md-input-container flex>
      <label>Show data for </label>
      <md-select md-on-close="$ctrl.dateRangeDropdownSelect()" ng-model="$ctrl.dateRangeDropdownSelectedItem" ng-model-options="{ trackBy: '$value.value' }">
        <md-option ng-value="dateRange" ng-repeat="dateRange in $ctrl.dateRangeDropdownItems" style="text-transform: capitalize;">{{ dateRange.name }}</md-option>
      </md-select>
    </md-input-container>
  </div>
</div>
