$toolbar-font-size: 16px;

.toolbar-selects {
  font-size: $toolbar-font-size;
}

.toolbar-selects > div {
  /* wrapper div around md-input-container is to help with label alignment */
  position: relative;
  top: 5px; /* fix vertical alignment in toolbar */
}

.transaction-tools-select > md-select-menu,
.transaction-tools-select > md-select-value {
  text-transform: capitalize;
}
