<div class="pills">
  <pill chart-data="$ctrl.incomeChartData"
      pill-title="'$' + ($ctrl.totalIncome | summary:1)"
      pill-caption="'Total Income'"
      ng-click="$ctrl.switchPills('income')"
      ng-class="{ active: $ctrl.activePill === 'income' }"></pill>
  <pill chart-data="$ctrl.productsChartData"
      pill-title="$ctrl.productsSold | summary:1"
      pill-caption="'Products Sold'"
      transform="translate(0,171)"
      ng-click="$ctrl.switchPills('productsSold')"
      ng-class="{ active: $ctrl.activePill === 'productsSold' }"></pill>
  <pill chart-data="$ctrl.transactionChartData"
      pill-title="$ctrl.transactionCount | summary:1"
      pill-caption="'Transactions'"
      transform="translate(0,342)"
      ng-click="$ctrl.switchPills('transactionCount')"
      ng-class="{ active: $ctrl.activePill === 'transactionCount' }"></pill>
</svg>
