<div da-loading-mask="{{ $ctrl.loading }}" class="product-table-container">
  <div class="header-bar">
    <h2>What Are We Selling?</h2>
  </div>
  <div class="inventory">
    <div>
      <div class="filter-container">
        <filter-checkbox ng-hide="$ctrl.loading" on-update="$ctrl.onCheckboxUpdate(hideOutOfStock)"></filter-checkbox>
        <search-bar ng-hide="$ctrl.loading" on-text-change="$ctrl.onSearchTextUpdate(newSearchText)"></search-bar>
      </div>
      <div>
        <product-table products="$ctrl.filteredProductsForTable" style=""></product-table>
        <!-- todo: make sure data binding is correct on filteredProducts -->
      </div>
    </div>
    <product-stocker products-out-of-stock="$ctrl.outOfStockProducts" stock-product="$ctrl.stockProduct(product)"></product-stocker>
  </div>
</div>
