<div layout="column" flex da-loading-mask="{{ $ctrl.loading }}">
  <toolbar toolbar-text="What Are We Selling?" flex="none">
    <inventory-tools layout="row"
                      flex
                      inventory-value="$ctrl.inventoryValue"
                      unique-products="$ctrl.uniqueProducts"
                      total-quantity="$ctrl.totalQuantity"
                      search-bar-items="$ctrl.searchBarItems"
                      on-search-text-update="$ctrl.filterProductsAndCategories(searchText)"
                      filter-function="$ctrl.filterByName">
    </inventory-tools>
  </toolbar>
  <product-table layout="column" flex products="$ctrl.filteredProducts"></product-table>
</div>
