<div style="height: 57px;" flex="none" layout="row" class="column-headings">
  <div flex="50" layout="row" ng-repeat="section in $ctrl.headings">
      <div class="column-heading"
          ng-class="{ 'column-sorted': $ctrl.orderByProperty === heading.key }"
          flex="{{ heading.width }}"
          ng-click="$ctrl.orderBy(heading.key)"
          ng-repeat="heading in section">
        {{ heading.title }}
      <md-icon md-font-icon="i-chevron-down"
          ng-class="'i-chevron-' + (($ctrl.orderByProperty === heading.key) && $ctrl.reverseOrder ? 'up' : 'down')"
          class="sort-arrow"></md-icon>
    </div>
  </div>
</div>
<div flex class="product-table-container">
  <table class="product-table">
    <tbody>
      <tr ng-repeat="product in $ctrl.products | orderBy: $ctrl.orderByProperty : $ctrl.reverseOrder" layout="row">
        <td flex="12">
          <div class="stock-indicator-circle" md-colors="{ background: 'default-{{ product.quantity !== 0 ? 'primary' : 'warn' }}-700' }">
            &nbsp;
          </div>
        </td>
        <td flex="37">
          {{ product.name }}
        </td>
        <td flex="16" class="number">
          {{ product.price | currency }}
        </td>
        <td flex="16">
          {{ product.category }}
        </td>
        <td flex="16" class="number">
          {{ product.quantity }}
        </td>
      </tr>
    </tbody>
  </table>
</div>
