@import '../../../../../common/styles/variables.css';

table.product-table {
  border-collapse: collapse;
  text-align: left;
  width: 100%;
}

table.product-table td, .column-headings .column-heading {
  padding: 20px;
}

.column-headings .column-heading {
  background-color: $light-bar-color;
  font-size: $paragraph;
  font-weight: $light;
  border-left: $border;
  border-bottom: $border;
  outline: none;
  cursor: pointer;
  user-select: none;
  text-transform: uppercase;
}

.column-headings > div:first-child > .column-heading:first-child {
  border-left: none;
}

.column-headings .column-heading.column-sorted {
  background-color: $dark-bar-color;
}

table.product-table tbody td {
  border-left: $border;
  font-size: $paragraph;
  border-bottom: $border;
  font-weight: $light;
}

table.product-table tbody td:first-child {
  border-left: none;
}

td.flex-16 {
  box-sizing: border-box;
  flex: 16.66%;
}

td.flex-12 {
  box-sizing: border-box;
  flex: 12.5%;
}

td.flex-37 {
  box-sizing: border-box;
  flex: 37.5%;
}

td.number {
  text-align: right;
}

.stock-indicator-circle {
  width: 10px;
  height: 10px;
  border-radius: 5px;
  margin: 0 auto;
  position: relative;
  top: 4px;
}


.sort-arrow {
  font-size: 10px;
  text-align: right;
  float: right;
}
