$border: #e3e3e3;

table.product-table {
  border-collapse: collapse;
  text-align: left;
  width: 100%;
}

table.product-table td, .column-headings .column-heading {
  padding: 20px;
}

.column-headings .column-heading {
  background-color: #F8F8F8;
  color: #555;
  font-size: 12px;
  font-weight: 400;
  border-left: 1px solid $border;
  border-bottom: 1px solid $border;
  outline: none;
  cursor: pointer;
  text-transform: uppercase;
}

.column-headings > div:first-child > .column-heading:first-child {
  border-left: none;
}

.column-headings .column-heading.column-sorted {
  background-color: #eee;
}

table.product-table tbody td {
  color: #555;
  border-left: 1px solid $border;
  font-size: 12px;
  border-bottom: 1px solid $border;
  font-weight: 400;
}

table.product-table tbody td:first-child {
  border-left: none;
}

td.flex-16 {
  box-sizing: border-box;
  flex: 16.66%;
}

td.flex-12 {
  box-sizing: border-box;
  flex: 12.5%;
}

td.flex-37 {
  box-sizing: border-box;
  flex: 37.5%;
}

td.number {
  text-align: right;
}

.stock-indicator-circle {
  width: 10px;
  height: 10px;
  border-radius: 5px;
  margin: 0 auto;
  position: relative;
  top: 4px;
}


.sort-arrow {
  font-size: 10px;
  text-align: right;
  float: right;
}
