<div>
  <strong>From</strong>
  <input db-datepicker-popup
    class="input-style reduce-width"
    ng-change="$ctrl.startDatepickerChange()"
    min-date="$ctrl.minDate"
    max-date="$ctrl.startDatepickerMaxDate"
    ng-model="$ctrl.startDate" />
  <strong class="padding-left-medium">To</strong>
  <input db-datepicker-popup
    class="input-style reduce-width"
    ng-change="$ctrl.endDatepickerChange()"
    min-date="$ctrl.endDatepickerMinDate"
    max-date="$ctrl.maxDate"
    ng-model="$ctrl.endDate" />
</div>
