<div class="product-table">
  <table>
    <thead>
      <tr>
        <th ng-repeat="label in ['Name', 'Price', 'Category']">
          <div class="header-label background">{{ label }}</div>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="product in $ctrl.products" ng-class="product.inStock ? 'in-stock' : 'out-of-stock'">
        <td ng-repeat="cellKey in ['name', 'price', 'category']">
          <div class="cell-container">
            <span class="display-text">{{ product[cellKey] }}</span>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
