@import '../../node_modules/domo-bits/dist/domo-bits.css';
@import '../common/styles/variables.css';

body {
  color: #3B3E3F;
}

/* todo: modular css? */
#appContainer {
  width: 1165px;
  height: 830px;
  font-family: "Open Sans", "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.header-bar {
  height: 59px;
  background-color: #f7f7f7;
  border-bottom: 1px solid #e3e3e3;
  & h2 {
    text-align: center;
    padding-top: 8px;
    margin-top: 0;
  }
}
