@import '../../node_modules/angular-material/angular-material.css';
@import '../common/styles/variables.css';

body {
  color: #3B3E3F;
}

/* todo: modular css? */
#appContainer {
  width: 1165px;
  height: 830px;
  font-family: "Open Sans", "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.header-bar {
  height: 59px;
  background-color: #f7f7f7;
  border-bottom: 1px solid #e3e3e3;
  & h2 {
    text-align: center;
    padding-top: 8px;
    margin-top: 0;
  }
}

.iconbits {
  font-family: "iconbits";
}

* [class^="i-"]:before,
* [class*=" i-"]:before {
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  text-transform: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.i-chevron-down:before {
  content: '\e062';
}

.i-chevron-up:before {
  content: '\e06e';
}

.i-filter:before {
  content: '\e13e';
}

.iconbits-large {
  font-size: 20px;
}

@font-face {
  font-family: iconbits;
  src: url("https://domoapps.s3.amazonaws.com/cdn/domo-bits/v1/iconbits.woff");
}
