<div layout="column" flex class="loading-container">
  <loading-mask loading="$ctrl.loading"></loading-mask>
  <toolbar toolbar-text="How Much Are We Selling?" flex="none" heading-width="30">
    <transaction-tools
        date-range-options="$ctrl.dateRangeOptions"
        granularity-options="$ctrl.granularityOptions"
        on-granularity-dropdown-select="$ctrl.granularityDropdownSelect(value)"
        on-date-range-dropdown-select="$ctrl.dateRangeDropdownSelect(value)"
        selected-date-range="$ctrl.dateRangeDropdownSelectedOption"
        selected-granularity="$ctrl.granularityDropdownSelectedOption"
        layout="row"
        flex></transaction-tools>
  </toolbar>
  <div class="transactions-container" flex layout="row">
    <pills-container
        flex
        layout="column"
        pill-data="$ctrl.pillData"
        on-pill-click="$ctrl.displayLineChart(pill)">
    </pills-container>
    <line-chart
        flex
        layout="row"
        id="vis"
        chart-data="$ctrl.activePillData.chart"
        line-color="$ctrl.activePillData.color">
    </line-chart>
  </div>
</div>
