<div class="transactions-info" style="height: 100%;">
  <div class="header-bar">
    <h2>How Much Are We Selling?</h2>
  </div>
  <div ng-hide="$ctrl.loading" class="transactions-container">
    <div class="pill-container">
      <div class="transactions-filters">
        <strong>Show data for each </strong>
        <div db-dropdown items="$ctrl.granularityDropdownItems" on-item-selected="$ctrl.granularityDropdownSelect(item)" label-attribute="name" style="display: inline-block;">
          <db-dropdown-button>{{ $ctrl.granularityDropdownSelectedItem.name }}</db-dropdown-button>
          <db-dropdown-basic-list></db-dropdown-basic-list>
        </div>
        <strong class="padding-left-medium">Show data for </strong>
        <div db-dropdown items="$ctrl.dateRangeDropdownItems" on-item-selected="$ctrl.dateRangeDropdownSelect(item)" label-attribute="name" style="display: inline-block;">
          <db-dropdown-button>{{ $ctrl.dateRangeDropdownSelectedItem.name }}</db-dropdown-button>
          <db-dropdown-basic-list></db-dropdown-basic-list>
        </div>
      </div>
      <div ng-hide="$ctrl.dateRangeDropdownSelectedItem.value !== 'custom'" class="transactions-filters">
        <date-range-picker
          min-date="$ctrl.earliestTransaction"
          max-date="$ctrl.latestTransaction"
          on-start-datepicker-change="$ctrl.onStartDatepickerChange(newDate)"
          on-end-datepicker-change="$ctrl.onEndDatepickerChange(newDate)">
        </date-range-picker>
      </div>
      <pillbox-container total-income="$ctrl.totalIncome" products-sold="$ctrl.productsSold" transaction-count="$ctrl.transactionCount" income-chart-data="$ctrl.incomeLineChartData" products-chart-data="$ctrl.productsSoldLineChartData" transaction-chart-data="$ctrl.transactionCountLineChartData" on-pill-click="$ctrl.displayLineChart(pill)"></pillbox-container>
    </div>
    <line-chart id="vis" chart-data="$ctrl.lineChartData" d3-id="'#vis'">
    </line-chart>
  </div>
</div>
