tabs<div layout-fill layout="row">
  <md-sidenav md-component-id="filters" class="md-sidenav-left">
    <div layout="column" flex>
      <md-input-container>
        <md-select placeholder="Category" md-on-close="$ctrl.onCategorySelect()" ng-model="$ctrl.categoryFilter">
          <md-option ng-repeat="category in $ctrl.categoryFilters" value="{{ category }}">
            {{ category }}
          </md-option>
        </md-select>
      </md-input-container>
    </div>
  </md-sidenav>
  <div flex="none" class="sidebar">
    <md-button class="md-icon-button" aria-label="Filters" ng-click="$ctrl.toggleSidenav()">
      <md-icon md-font-icon="i-filter" class="iconbits-large"></md-icon>
    </md-button>
  </div>
  <div flex layout="column">
    <md-nav-bar md-selected-nav-item="$ctrl.selectedTab" flex="none">
      <md-nav-item md-nav-click="$ctrl.goToPage('products')" style="font-weight: 600;" name="products">Products Inventory</md-nav-item>
      <md-nav-item md-nav-click="$ctrl.goToPage('transactions')" style="font-weight: 600;" name="transactions">Transactions</md-nav-item>
    </md-nav-bar>
    <ng-transclude flex layout="column">
    </ng-transclude>
  </div>
</div>
