<da-controlpanel>
  <da-controlpanel-filters>
    <da-filters filter-data="daBits.filters.filterData"></da-filters>
  </da-controlpanel-filters>
</da-controlpanel>
<div da-controlpanel-load>
  <div class="header">
    <db-tabs
      active-tab="$ctrl.selectedTab"
      class="db-tabs header-tabs"
      style="width: 100%;"
      on-active-tab-change="$ctrl.onSelectedTab(tab)">
      <db-tab name="products" ng-click="$ctrl.goToPage('products');">Products Inventory</db-tab>
      <db-tab name="transactions" ng-click="$ctrl.goToPage('transactions')">Transactions</db-tab>
    </db-tabs>
  </div>
  <div da-view-transition="">
    <ng-transclude></ng-transclude>
  </div>
</div>
