@import '../../../common/styles/variables.css';

.sidebar {
  width: 49px;
  border-right: 1px solid $border-color;
  background-color: $light-bar-color;
  padding-top: 3px;
}

.md-sidenav-left > div {
  padding: 0 20px;
}

._md-nav-button-text span {
  font-weight: $bold;
}
